{include="header"}
<script type="text/javascript" src="plugins/garantias/view/js/garantias.js"></script>
<script type="text/javascript">
   fs_nf0 = {#FS_NF0#};
   tpv_url = '{$fsc->url()}';
   function show_nuevo_cliente()
   {
      $("#modal_nuevo_cliente").modal('show');
      document.f_nuevo_cliente.nombre.focus();
   }
</script>
<script type="text/javascript">
   $(document).ready(function () {
      document.f_nuevo_garantias.modelo.focus();
   });
</script>

<form name="f_nuevo_garantias" action="{$fsc->url()}" method="post" class="form">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <h3>
               Nuevo registro de garantía
            </h3>
         </div>
      </div>
   </div>
   
   <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
         <li class="active">
            <a href="#datos" data-toggle="tab" title="Datos del artículo">
               <span class="glyphicon glyphicon-wrench"></span>
               <span class="hidden-xs"> &nbsp; Datos del artículo</span>
            </a>
         </li>
         <li>
            <a href="#datosfacturacion" data-toggle="tab">
               <span class="glyphicon glyphicon-eye-open"></span>
               <span class="hidden-xs"> &nbsp; Datos Facturación</span>
            </a>
         </li>
         <li>
            <a href="#otrosdatos" data-toggle="tab">
               <span class="glyphicon glyphicon-eye-open"></span>
               <span class="hidden-xs"> &nbsp; Otros datos</span>
            </a>
         </li>
      </ul>
      <div id="my-tab-content" class="tab-content">
         <div class="tab-pane active" id="datos">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="form-group">
                        <strong>Modelo:</strong>
                        <input class="form-control" type="text" name="modelo"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-2">
                     <div class="form-group">
                        Nº de serie del producto:
                        <input class="form-control" type="text" name="numserie" value=""/>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        Posición:
                        <input class="form-control" type="text" name="posicion" value=""/>
                     </div>
                  </div>
                   <div class="col-sm-3">
                     <div class="form-group">
                        Estados:
                        <select name="estado" class="form-control">
                        {loop="$fsc->listar_estados()"}
                           {if="$value['id_estado'] == 1"}
                           <option value="{$value['id_estado']}" selected>{$value['nombre_estado']}</option>
                           {else}
                           <option value="{$value['id_estado']}">{$value['nombre_estado']}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
        
                  <div class="col-sm-3">
                     <div class="form-group">
                        Prioridad:
                        <select name="prioridad" class="form-control">
                        {loop="$fsc->listar_prioridad()"}
                           {if="$value['id_prioridad'] == 3"}
                           <option value="{$value['id_prioridad']}" selected>{$value['nombre_prioridad']}</option>
                           {else}
                           <option value="{$value['id_prioridad']}">{$value['nombre_prioridad']}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-2">
                     <div class="form-group">
                        Fecha de entrada:
                        <input class="form-control datepicker" type="text" name="fendrada" value="{$fsc->today()}" disabled>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="form-group">
                        Avería:
                        <textarea class="form-control" name="averia" rows="5"></textarea>
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group">
                        Accesorios:
                        <textarea class="form-control" name="accesorios" rows="5"></textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tab-pane" id="datosfacturacion">
            <div class="container-fluid">
               <br/>
               <div class="panel panel-default">
                    <div class="panel-heading">Datos venta</div>
                    <div class="panel-body">
                    <div class="row">
                  <div class="col-sm-4">
                     <div class="form-group" id="selectdinamico">
                        <div class="form-group" id="selectdinamico">
                        Cliente:
                        <select class="form-control chosen-select-no-results"   name="codcliente">
                            <option value="">Cliente sin asignar</option>
                            {loop="$fsc->cliente->all_full()"}
                                    <option value="{$value->codcliente}">{$value->nombre}</option>
                            {/loop}
                        </select>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-sm-2 col-sm-2">
                     <div class="form-group">
                        <br/>
                        <button class="btn btn-sm btn-primary" type="button" onclick="$('#modal_nuevo_cliente').modal('show');">
                           <span class="glyphicon glyphicon-plus"></span>
                           <span class="hidden-xs"> &nbsp; Nuevo Cliente</span>
                        </button>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                         Fecha factura venta:
                         <input class="form-control datepicker" type="text" name="fechfactventa"/>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        Nº de factura de venta:
                        <input class="form-control" type="text" name="factventa" />
                     </div>
                  </div>
               </div>
                        
                    </div>
                </div>
               <div class="panel panel-default">
                    <div class="panel-heading">Datos de compra</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        Proveedor:
                                        <select class="form-control chosen-select-no-results"   name="codproveedor">
                                            <option value="">Proveedor sin asignar</option>
                                            {loop="$fsc->proveedor->all_full()"}
                                            <option value="{$value->codproveedor}">{$value->nombre}</option>
                                            {/loop}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        Fecha factura proveedor:
                                        <input class="form-control datepicker" type="text" name="fechfactcompra" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        Nº de factura proveedor:
                                        <input class="form-control" type="text" name="factcompra" />
                                    </div>
                                </div>
                               <div class="col-sm-3">
                                    <div class="form-group">
                                        Nº de RMA asignado proveedor:
                                        <input class="form-control" type="text" name="numrma" value=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
               
            </div>

         <div class="tab-pane" id="otrosdatos">
            <div class="container-fluid">
                <div class="form-group">
                  Observaciones:
                  <textarea class="form-control" name="observaciones" rows="8"></textarea>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <a href="index.php?page=listado_garantias" class="btn btn-sm btn-danger">
               <span class="glyphicon glyphicon-remove"></span>
               <span class="hidden-xs"> &nbsp; Cancelar</span>
            </a>
            <button type="button" class="btn btn-sm btn-primary pull-right" onclick="this.disabled = true; this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span>
               <span class="hidden-xs"> &nbsp; Guardar</span>
            </button>
         </div>
      </div>
   </div>
</form>

{include="footer"}