{include="header"}

<script type="text/javascript">
   $(document).ready(function () {
      $("#ac_articulo").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_articulo',
         onSelect: function (suggestion) {
            if (suggestion)
            {
               if (document.f_nuevo_garantias.referencia.value != suggestion.data)
               {
                  document.f_nuevo_garantias.referencia.value = suggestion.data;
               }
            }
         }
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
   <div class="row">
      <!-- Estos botones se muestran siempre, ocupando 2 o 6 de las 12 columnas -->
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
         <a href="{$fsc->url()}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <a href="index.php?page=garantia" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-pencil"></span> &nbsp; Nueva Garantia
         </a>
      </div>
      <!-- Se muestra si la resolución es LG, sino se oculta -->
      <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 text-right">
         <div class="hidden-lg hidden-md"><br/></div>
         <form id="f_edita_garantias" name="f_edita_garantias_lg" action="{$fsc->url()}" method="post" class="form form-inline">
           
             <div class="form-group">
               <input type="text" class="form-control" name="buscar" size="15" value="{$fsc->busqueda['buscar']}" placeholder="Buscar"/>
            </div>
            <div class="form-group">
               <select name="estado" class="form-control" onchange="this.form.submit();">
                  <option value="activos">Garantia activas</option>
                  {loop="fsc->listar_estados()"}
                  <option value="{$value['id_estado']}"{if="$fsc->busqueda['estado']==$value['id_estado']"} selected{/if}>{$value['nombre_estado']}</option>
                  {/loop}
                  <option value="todos"{if="$fsc->busqueda['estado']=='todos'"} selected{/if}>Todos</option>
               </select>
            </div>
           <div class="form-group">
          
                <select   name="codproveedor" class="form-control" onchange="this.form.submit();">
                       <option value="todos"{if="$fsc->busqueda['proveedor']=='todos'"} selected{/if}>Todos los prov.</option>
                       {loop="$fsc->proveedor->all_full()"}
                       <option value="{$value->codproveedor}"{if="$fsc->busqueda['proveedor']==$value->codproveedor"} selected{/if}>{$value->nombre}</option>
                        {/loop}
                </select>
           </div>
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true; this.form.submit();">
               <span class="glyphicon glyphicon-search"></span>
            </button>
         </form>
      </div>
   </div>
</div>

{if condition="isset($_GET['referencia'])"}
<h3 class="text-center">Registros del articulo {$_GET['referencia']}</h3>
{/if}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Nº</th>
            <th class="text-left">Prioridad</th>
            <th class="text-left">Modelo</th>
            <th class="text-left">Fecha venta</th>
            <th class="text-left">Cliente</th>
            <th class="text-left">Fecha de compra</th>
            <th class="text-left">Proveedor</th>
            <th class="text-left">Num. serie</th>
            <th class="text-left">Num. RMA</th>
            <th class="text-right">Estado</th>
         </tr>
      </thead>
      {loop="fsc->resultado"}
      <tr class="clickableRow{if condition="$value->estado==5"} bg-success{/if}" href="{$value->url()}">
         <td><b>{$value->ngarantias}</b></td>
         <td>{$value->nombre_prioridad()}</td>
         <td>{$value->modelo}</td>
         <td>{$value->fechfactventa}</td>
         <td>{$value->nombre_cliente()}</td>
         <td>{$value->fechfactcompra}</td>
         <td>{$value->nombre_proveedor()}</td>
         <td>{$value->numserie}</td>
         <td>{$value->numrma}</td>
         <td class="text-right">{$value->nombre_estado()}</td>
      </tr>
      {else}
      <tr class="warning">
         <td colspan="10">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

<div class="modal" id="modal_nuevo_garantias">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Nueva Garantia...</h4>
         </div>
         <div role="tabpanel">
            <ul class="nav nav-tabs nav-justified" role="tablist">
               <li role="presentation" class="active">
                  <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                     Buscar artículo
                  </a>
               </li>
               <li role="presentation">
                  <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Nuevo artículo</a>
               </li>
            </ul>
            <div class="modal-body">
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home" style="margin-top: 10px;">
                     <form name="f_nuevo_garantias" class="form" action="index.php" method="get">
                        <input type="hidden" name="referencia"/>
                        <input type="hidden" name="opcion" value="nuevogarantias"/>
                        <input type="hidden" name="page" value="{$fsc->page->name}"/>
                        <div class="input-group">
                           <input class="form-control input-sm" type="text" name="ac_articulo" id="ac_articulo" placeholder="Buscar..." autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;
                                    this.form.submit();">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                     </form>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="profile">
                     <form name="f_nuevo_articulo" action="{$fsc->url()}&opcion=nuevogarantias" method="post" class="form">
                        <div class="form-group">
                           Nombre:
                           <input class="form-control input-sm" type="text" name="nombre" autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Teléfono:
                           <input class="form-control input-sm" type="text" name="telefono1" autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Móvil:
                           <input class="form-control input-sm" type="text" name="telefono2" autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-6">
                           <a href="{$fsc->pais->url()}">País</a>:
                           <select class="form-control" name="pais">
                              {loop="$fsc->pais->all()"}
                              <option value="{$value->codpais}"{if condition="$value->is_default()"} selected="selected"{/if}>{$value->nombre}</option>
                              {/loop}
                           </select>
                        </div>
                        <div class="form-group col-lg-6">
                           <div class="text-capitalize">{#FS_PROVINCIA#}:</div>
                           <input class="form-control input-sm" type="text" name="provincia" autocomplete="off" value="{$fsc->empresa->provincia}"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Ciudad:
                           <input class="form-control input-sm" type="text" name="ciudad" autocomplete="off" value="{$fsc->empresa->ciudad}"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Código Postal:
                           <input class="form-control input-sm" type="text" name="codpostal" autocomplete="off" value="{$fsc->empresa->codpostal}"/>
                        </div>
                        <div class="form-group">
                           Dirección:
                           <input class="form-control input-sm" type="text" name="direccion" value="C/ " autocomplete="off"/>
                        </div>
                        <div class="form-group">
                           {#FS_CIFNIF#}:
                           <input class="form-control input-sm" type="text" name="cifnif" autocomplete="off"/>
                        </div>
                        <div class="text-right">
                           <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;
                                 this.form.submit();">
                              <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar y seleccionar
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{include="footer"}